html 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,
*::after,
*::before
{
    box-sizing: inherit;
}

a
{
    color: inherit;
    text-decoration: none;
}

button 
{
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    /* text-transform: uppercase; */
    cursor: pointer;
}

ul 
{
    padding: 0;
    margin: 0;
    list-style: none;
}

p, h1, h2, h3, h4, h5, h6
{
    padding: 0;
    margin: 0;
}

body 
{
    font-family: "Kodchasan", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: auto;
    letter-spacing: 0;
}


:root 
{
    --White: #FFFFFF;
    --Smoky-White: #F4F4F4;
    --Black: #000000;
    --Yellow-Orange: #E58311;
}

.container 
{
    max-width: 1600px;
    padding: 0 50px;
    margin: 0 auto;
}
/* ================================ Header ========================== */
.nav
{
    display: flex;
    justify-content: space-between;   
    align-items: center;
    padding: 30px 0 30px 177px;                 
}
.list
{
    display: flex;
    gap: 0 40px;
}
.link:focus
{
    font-weight: 700;
}
/* ================================== Main ============================ */
.section-honey
{
    margin-bottom: 130px;
}
.inner
{
    background-image: url(../images/main-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 865px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    position: relative;
}
.inner::after
{
    content: '';
    position: absolute;
    background-image: url(../images/honey-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 124px;
    right: 10px;
    left: 803px;
    bottom: 91px;
    width: 686px;
    height: 650px;
}
.inner::before
{
    content: '';
    position: absolute;
    background-image: url(../images/vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 89px;
    right: 13px;
    left: 78px;
    bottom: 165px;
    width: 1408px;
    height: 611px;
}
.section-honey::after
{
    content: '';
    position: absolute;
    background-image: url(../images/vectors.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 120px;
    left: -30px;
    width: 205px;
    height: 321px;
}
.honey-title
{
    display: flex;
    flex-direction: column;
    padding: 200px 0 0 177px;
    gap: 30px 0;
    margin-bottom: 70px;
}
.honey-title-span_1,
.honey-title-span_2,
.honey-title-span_3
{
    font-size: 100px;
    font-weight: 700;
    z-index: 1;
    width: 364px;
}
.honey-title-span_2
{
    padding: 0 0 0 98px;
}
.honey-title-span_3
{
    padding: 0 0 0 295px;
    position: relative;
}
.honey-title-span_3::after
{
    content: '';
    position: absolute;
    background-image: url(../images/honey-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: -35px;
    left: 0;
    width: 189px;
    height: 129px;
}
.honey-title-span_3::before
{
    content: '';
    position: absolute;
    top: 88px;
    left: 0;
    width: 274px;
    height: 2px;
    background-color: var(--Black);
}
.honey-btn
{
    display: flex;
    gap: 0 30px;
    padding: 0 0 0 177px;
}
.btn_1,
.btn_2
{
    font-weight: 700;
    padding: 18px 50px;
    z-index: 1;
}
.btn_1
{
    width: 180px;
    height: 65px;
    color: var(--White);
    background-color: var(--Black);
}
.btn_2
{
    width: 209px;
    height: 65px;
    border: 2px solid var(--Black);
}
/* ===================== Shops =================== */
.section-shops
{
    display: flex;
    margin-bottom: 130px;
}
.shops-box
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.shopa-title
{
    font-size: 45px;
    font-weight: 700;
    width: 427px;
    margin-bottom: 50px;
}
.shops-img
{
    display: flex;
    justify-content: space-between;
    gap: 0 101px;
    flex-wrap: wrap;
}
/* ============================ Nature ===================== */
.section-nature
{
    margin-bottom: 100px;
}
.nature-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 32px;
}
.nature-block
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 205px 0;
}
.nature-title
{
    font-size: 45px;
    font-weight: 700;
    color: var(--Black);
    width: 548px;
    margin-bottom: 30px;
}
.nature-text
{
    font-size: 22px;
    font-weight: 600;
    color: var(--Black);
    width: 516px;
    margin-bottom: 50px;
}
.nature-btn
{
    display: block;
    color: var(--White);
    background-color: var(--Yellow-Orange);
    margin: 0 auto;
    padding: 15px 40px;
    margin-left: 0;
    width: 184px;
    height: 60px;
}
/* ================================== Does ========================== */
.section-does
{
    margin-bottom: 100px;
}
.does-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 32px;
}
.does-block
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 205px 0;
}
.does-title
{
    font-size: 45px;
    font-weight: 700;
    color: var(--Black);
    width: 548px;
    margin-bottom: 30px;
}
.does-text
{

    font-size: 22px;
    font-weight: 600;
    color: var(--Black);
    width: 516px;
    margin-bottom: 50px;
}
.does-btn
{
    display: block;
    color: var(--White);
    background-color: var(--Yellow-Orange);
    margin: 0 auto;
    padding: 15px 40px;
    margin-left: 0;
    width: 184px;
    height: 60px;
}
/* ============================== Product ====================== */
.section-product
{
    margin-bottom: 130px;
}
.product-inner
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-box
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    gap: 0 801px;
}
.product-title
{
    font-size: 45px;
    font-weight: 700;
    color: var(--Black);
}
.product-link
{
    font-weight: 700;
    color: var(--Yellow-Orange);
    text-decoration: underline;
}
.product-block
{
    display: flex;
    gap: 0 30px;
}
.product-honey
{
    display: flex;
    background-color: rgba(229, 130, 17, 7%);
    padding: 45px 40px 45px 30px;   
    gap: 0 60px;                                                         
}
.product_box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product_title
{
    font-size: 28px;
    font-weight: 600;
    width: 262px;
    margin-bottom: 30px;
    color: var(--Black);
}
.product_text
{
    font-size: 16px;
    font-weight: 600;
    width: 302px;
    color: var(--Black);
    margin-bottom: 30px;
}
.product_btn
{
    display: block;
    color: var(--Yellow-Orange);
    border: 2px solid var(--Yellow-Orange);
    margin: 0 auto;
    padding: 10px 30px;
    margin-left: 0;
}